<app-header></app-header>

    <div class="main-banner">
        <div class="container">
              <div class="caption header-text">
                <h2>TOGETHER <br>FOR A <span style="color: red">BETTER</span> ONLINE BANKING EXPERIENCE!</h2>
              </div>
              <p>Welcome to JBank, where financial excellence meets personalized service! 
                At JBank, we pride ourselves on providing secure and innovative banking 
                solutions tailored to meet your unique needs. With a commitment to transparency, 
                reliability, and cutting-edge technology, we strive to empower you on your financial journey.</p>
        </div>
      </div>

      <div>
        <img src="../../../assets/images/home.png" alt="">
      </div>

      <div class="features">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <a href="#">
                <div class="item">
                  <div class="imageFP">
                    <img src="" alt="" style="max-width: 44px;">
                  </div>
                  <h4>Financial Planning</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-6">
              <a href="#">
                <div class="item">
                  <div class="imageInvestment">
                    <img src="" alt="" style="max-width: 44px;">
                  </div>
                  <h4>Investment</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-6">
              <a href="#">
                <div class="item">
                  <div class="imageTrust">
                    <img src="" alt="" style="max-width: 44px;">
                  </div>
                  <h4>Trustworthy</h4>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-md-6">
              <a href="#">
                <div class="item">
                  <div class="imageSecure">
                    <img src="" alt="" style="max-width: 44px;">
                  </div>
                  <h4>Secure</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="section cta">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="shop">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="section-heading">
                      <h2>Get Up To 20% discounts Just Buy <em>Creating</em> an account!</h2>
                    </div>
                    <p>Our dedicated team of professionals is here to offer a range of services, from traditional banking to digital solutions, ensuring you experience convenience at every step. JBank is not just about transactions; it's about building lasting relationships and fostering financial growth.</p>
                    <div class="main-button">
                      <a href="shop.html" routerLink="/login">Register Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2 align-self-end">
              <div class="subscribe">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="section-heading">
                      <h2>Do you have a <em>plan</em> in mind, Let's Connect!</h2>
                    </div>
                    <p>Whether you're planning for the future or aiming for immediate returns, we have tailored solutions to suit your unique goals. At JBank, we prioritize your financial well-being, offering a range of investment opportunities backed by expert guidance. Let's shape your financial future together – connect with us and embark on a journey towards prosperous and secure investments. Your success is our priority.</p>
                    <div class="search-input">
                      <div class="main-button ">
                        <a href="shop.html" routerLink="/contact">Contact Us</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="container">
          <div class="col-lg-12">
            <p>Copyright © 2024 JBank Online Banking. All rights reserved. </p>
          </div>
        </div>
      </footer>
    