 html, body { height: 100%; }

 .parent {
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .child {
   width: 500px;
   height: 500px;
   margin: 10px;
 }
 