<style>
  /* Style to remove underline from links */
  a {
    text-decoration: none;
  }
</style>

<div class="main-content">

  <div class="container-fluid content-top-gap">

    <div class="welcome-msg pt-3 pb-4">
      <h1>Welcome to the admin page</h1>
    </div>

    <div class="statistics">
      <div class="row">
        <div class="col-xl-6 pr-xl-2 mx-auto">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
              <a href="http://localhost:59156/" target="_blank" class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"></i>
                <h3 class="text-dark number">Users Accounts</h3>
                <p class="stat-text">View details</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
